.card-content{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    font-size: 2em;
    border-radius: 20px;
    background-color: #f8f8f8;
    margin: 1rem;
    box-shadow: 0 0 0.75rem gray;
}

.card-content:hover{
    position: relative;
    box-shadow: -0.75rem 0.75rem 0.75rem var(--primaryBG-200);
    bottom: 5px;
    left: 5px;
    transition: top ease 0.5s, right ease 0.5s;
}

.card-text{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    transition: font-size 0.3s ease;
}

.card-content:hover .card-text {
    font-size: 23px; /* Adjust the size as needed */
}

.card-autor{
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    color: rgb(99, 99, 99);
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

.card-img{
    height: 200px;
}

.image-container {
    height: 70%;
}

.description-container {
    background-color: white;
    padding: 0.4rem 0 0.4rem;
    height: 28%;
    border-radius: 0 0 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}