.button {


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.container:hover {
    cursor: pointer;
    text-decoration: underline;
}
.container-selected {
    background-color: rgba(154, 154, 154, 0.3);
    border-radius: 1rem;
    padding: 0.5rem;
    transition: ease-in-out 0.2s;
}

.text {
    font-size: 1.2rem;
    color: "black"
}

.icon {
    color: "black";
    transition: ease-in-out 0.2s;
}

.icon-selected {
    color: "black";
}

.text-selected {
    font-weight: bold;
    color: "black";
}