.navbar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: " #E3E3E3  ";
}

.header {
    padding: 2rem 0rem 1rem 1rem;
    color: "black";
    background-color: " #E3E3E3  ";
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.topHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.subTittle{
    align-items: center;
    gap: 1rem;
    color: "black"
}
.logo {
    background-image: linear-gradient(to right, blue, indigo);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.btnContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    display: flex;

}
.footer {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;
    color: "black";
    background-color: " #E3E3E3  ";
    align-items: center;
    gap: 1rem;
    color: "black";
    transition: 0.1s;
}

.footer:hover {
    font-weight: 600;
    transition: ease-in-out 0.2s;
    text-decoration: underline;
}