.button {
    width: 15vw;
    height: 5vh;
    margin-top: 5vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.text {
    font-size: 1.4rem;
}

.square {
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
    margin-right: 1rem;
}

.square-selected {
    background-color: black;
}

.text-selected {
    font-weight: bold;
}