.boxModal {
    border-radius: 20px;
}

.mainContainerModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.statsFeedbackContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
    gap: 2rem;
}

.statsModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.modalFeedbackAI {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--primaryBG-200);
    border-radius: 1rem;
    overflow-y: scroll;
}

.statsAnswersContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    width: 98.2%;
    min-height: 30rem;
    background-color: var(--primaryBG-200);
    border-radius: 20px;
    gap: 1rem;
    overflow-y: scroll;
}

.responseContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    border-radius: 20px;

}

.optionsContainer{
    /*I want a 2x2 grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 1rem;
}

.optionContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    min-width: 100%;
    text-align: justify;
    height: 3rem;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.correctOption{
    background-color: rgb(97, 219, 97);
}

.incorrectOption{
    background-color: rgb(255, 79, 79);
}

.colorModalStat1 {
    color: #76B459;
}

.colorModalStat2 {
    color: #3A98DB;
}

.colorModalStat3 {
    color: #D952CB;
}