
.main-explora {
    display: flex;
    flex-direction: column;
}

.title-container {
    padding: 0rem 0rem 1rem 0rem;
}

.title-explora {
    font-size: 3rem;
}

.icon-container {
    background-color: var(--primaryBG-200);
    color: white;
    border-radius: 0.4rem 0 0 0.4rem;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
}

.filter-container {
    display: flex;
    flex-direction: row;
    width: 77%;
    height: 4vh;
}

.searchBar {
    width: 100%;
    background-color: var(--primaryBG-200);
    font-weight: 600;
    padding-left: 1rem;
    border-radius: 0 0.4rem 0.4rem 0;
    border: none;
    outline: none;
    color: white;
}

.searchBar::placeholder {
    color: white
}

.temas-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 0.4rem;
}

.temas-button {
    display: flex;
    background-color: var(--primaryBG-200);
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    font-weight: 600;
    color: white;
    padding-left: 1.5rem;
}

.temas-button:hover {
    box-shadow: 0 0 0.75rem var(--primaryBG-200);
}

.cards-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}